body {
  font: normal 10px Verdana, Arial, sans-serif;
}

.Link {
  text-decoration: none;
}

/* .dropdownSelect {
  background-color: #22b573;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 17%;
  border: none;
  text-align: center;
}

#gridContainer {
  display: grid;
  grid-template-columns: 18rem 35rem 23rem;
  grid-template-rows: 3fr 2fr 5fr; /* the second row is twice as tall as the first row */
/* margin: 5em;
  column-gap: 2.5em;
} */

.tall {
  /*Image section*/
  grid-row: 1 / 4; /* span across three rows - 1 til og ikke med 4 */
  grid-column: 1 / 2;
}

.tall > img {
  width: 100%;
}

.item:nth-child(3) {
  /*Star icons section*/
  grid-row: 2 / 3; /* second row */
  grid-column: 2 / 4; /* span across two columns */
}
.item:nth-child(5) {
  /*Description*/
  grid-row: 3 / 4; /* second row */
  grid-column: 2 / 4; /* span across two columns */
}

.item:nth-child(6) {
  /* Bottom text */
  grid-row: 4 / 5; /* second row */
  grid-column: 1 / 4; /* span across two columns */
}

.item > p {
  font-size: 20px;
  margin-top: 0;
}

.item > h1 {
  margin-top: 0;
  font-size: 25px;
}
.menu-container {
  max-height: 200px;
  overflow-y: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  color: #333;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}
*/ .suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;

  box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
  border: 0;
  padding-bottom: 4px;

  position: fixed;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 24px 24px;
  list-style-type: disc;
  width: 49%;
  border-color: aqua;
}

.suggestion-item {
  background-color: hsl(101, 34%, 62%);
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item a {
  color: #333;
  text-decoration: solid;
}
